*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

header{
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.chat-room{
  width: 100%;
}