*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

header{
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.signout-btn{
  background-color: transparent;
  color: blue;
}
.chat-room{
  position: relative;
  width: 100%;
  height: 93vh;
  background-color: grey;
}
form{
  position: absolute;
  bottom: 3%;
  width: 100%;
  left: 4%;
}
input{
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  width: 70%;
}
input::placeholder{
  color: blue;
}
.enter-btn{
  border-radius: 10px;
  padding: 10px;
  color: blue;
}
.message-box{
  height: 100px;
  margin: 0 10px ;
  background-color: grey;
}
.message-sent{
  width: 100%;
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: flex-end;
  
  margin: 10px 0 0;
  color: white;
  
}
.message-recieved{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0 0 10px;
  color: white;
}
.user-image{
  margin: 10px 10px 10px 0;
  border: transparent;
   width: 35px;
   height: 40px;
   border-radius:47%;
 
}
.message{
  padding: 0;
  background-color: green;
  align-self: center;
  padding: 2px 5px;
  border-radius: 8px;
}

.scroller{
  margin: 20px 0;
}

