*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

header{
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.signout-btn{
  background-color: transparent;
  color: blue;
}
.chat-room{
  position: relative;
  width: 100%;
  height: 93vh;
  background-color: grey;
}
form{
  position: absolute;
  bottom: 3%;
  width: 100%;
  left: 4%;
}
input{
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  width: 70%;
}
input::placeholder{
  color: blue;
}
.enter-btn{
  border-radius: 10px;
  padding: 10px;
  color: blue;
}
.message-box{
  height: 100px;
  margin: 0 10px ;
  background-color: grey;
  position: relative;
}
.message-sent{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  left: -15%;
  color: white;
  
}
.message-recieved{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: white;
}
.user-image{
  margin: 10px 0 10px;
  border: transparent;
   width: 35px;
   height: 40px;
   border-radius:47%;
 
}
.message{
  align-self: center;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 0 10px;
}

.scroller{
  margin: 20px 0;
}

